@background: #D3D3D3;
@topbar: white;
@imagetheme: 'lighttheme';
@textcolour: #404040;
@textcolour2: #1c1c1c;
@contentcolour: #e9e9e9;
@hoverbackcolour: #FF4B33; /* also used for hyperlinks */
@hovertextcolour: #c9c9c9;
@selectedtextcover: #1c1c1c; /* lighter than @contentback */
@bordercolour: #c9c9c9;
@lighttextcolour: #858585;
@menucolour: #E3E3E3;
@formfieldback: #CCCCCC;
@formfieldborder: #666666;
@formfieldfonts: 'Verdana, Arial, Helvetica, sans-serif';
@menubordercolour1: #484848;
@menubordercolour2: #4d4d4d;
@hyperlinkcolour: #0066cc;
@headergradientstartcolour: #f5f5f5;
@headergradientendcolour: #e6e6e6;
@blockygradientstartcolour: #e9e9e9;
@blockygradientendcolour: white;

@contentback: #1a1a1a; /* not used */

::selection { background-color: @hoverbackcolour; color: @topbar; }

body{
	background-color: @background;
	color: @textcolour;
	margin: 0px; padding: 0px;
	font-family: Tahoma;
	background-image: url('images/@{imagetheme}/asfalt-dark.png');
	/*background-image: url('images/@{imagetheme}/asfalt-dark2.png');*/
	/*background-image: url('images/@{imagetheme}/stencilback.jpg');*/
}

.orange { background-color: orange; }
.magenta { background-color: magenta; }
.mt18 { margin-top: 18px; }
.mt32 { margin-top: 32px; }

.topbar{
	width: 100%;
	height: 12px;
	background-color: @topbar;
}

.topbar2 {
	width: 100%;
	height: 12px;
	background-image: url('images/@{imagetheme}/topbar2.png');
}

.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	width: 100%;
	height: 69px;
	/* https://www.w3docs.com/snippets/css/how-to-use-multiple-background-images-with-css.html 
	   https://stackoverflow.com/q/64867539/337306
 	*/
	background-image: url('images/@{imagetheme}/headerback.png');
	background:
    	linear-gradient(transparent,rgba(0,0,0,0.03)) 0 0/100% 16px,
     	/*linear-gradient(#1ec5a6,#fff); */
     	linear-gradient(@headergradientstartcolour,@headergradientendcolour)
 	;
	padding: 12px; padding-left: 48px;
	box-sizing: border-box;
}


.menubar	 {
	width: 100%;
	height: 54px;
	background-image: url('images/@{imagetheme}/menuback.png');
	background-size: contain;
	box-sizing: border-box;
}

.contentarea{
	background-color: @contentback;
}

.contentheader, .contentsubheader, .contenthere { 
	margin: 0px 1em; 	
	margin-left: auto; margin-right: auto; 
	width: 97%;
	
	box-sizing: border-box;
}

.padleft{
	padding-left: 1em;
}

.padhere { padding: 12px; padding-top: 0px; }

.contentheader{
	/*height: 47px;*/
	height: 38px;
	background-image: url('images/@{imagetheme}/content-headerback.png');
	background-size: contain;
	color: @textcolour;
	padding-top: 8px;
	padding-left: 1em;
}


.contentsubheader{
	height: 42px;
	background-image: url('images/@{imagetheme}/content-subheaderback.png');
	background-size: contain;
	color: @textcolour;
	padding-top: 12px;
	padding-left: 1em;
}

.blockygradient{
	/* https://www.w3docs.com/snippets/css/how-to-use-multiple-background-images-with-css.html 
	   https://stackoverflow.com/q/64867539/337306
 	*/
	background:
     /*url('images/@{imagetheme}/listingback-top2.png') repeat-x,*/ 
     /* only for .listingback */

 	 linear-gradient(transparent,rgba(0,0,0,0.03)) 0 0/100% 16px,
     linear-gradient(@blockygradientstartcolour,@blockygradientendcolour)
    ; 
}

.contenthere {
	background-color: @contentcolour;
    /*min-height: 150px;*/
    overflow: auto;
}

.header a:link, .header a:visited { color: @textcolour; text-decoration: none; }
.header a:hover { color: @hoverbackcolour; text-decoration: underline; }
.contenthere a:link, .contenthere a:visited { color: @hyperlinkcolour; }
.listingback a:link, .listingback a:visited { text-decoration: none; }
.contenthere a:hover, .listingback a:hover { color: @hoverbackcolour; text-decoration: underline; }

.listingback {
	/*background-image: url('images/@{imagetheme}/listingback-top2.png');*/
	/*background-image: url('images/@{imagetheme}/listingback-top2.png'), linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(23,23,23,1) 100%);*/
	/*	background: 
		linear-gradient(transparent,rgba(0,0,0,0.03)) 0 0/100% 30px
		,linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(43,43,43,1) 100%)
		
 	;*/
 	/* https://www.w3docs.com/snippets/css/how-to-use-multiple-background-images-with-css.html 
	   https://stackoverflow.com/q/64867539/337306
 	*/

 	background:
     url('images/@{imagetheme}/listingback-top2.png') repeat-x,
 	 linear-gradient(transparent,rgba(0,0,0,0.03)) 0 0/100% 16px,
     linear-gradient(@blockygradientstartcolour,@blockygradientendcolour)
    ;
	/*background-image: url('images/@{imagetheme}/listingback-top2.png'), url('images/@{imagetheme}/listingback.png');*/
	/*background-position: center top;*/
	background-repeat: repeat-x, repeat;
	/*background-size: auto, contain;*/
	/*background-size: contain;*/
	/*background-color: #3a3a3a;*/
	min-height: 94px;
	padding: 12px; box-sizing: border-box; 
	/*padding-top: 12px;*/
	/*overflow: inherit;*/
}

.listingback img { max-height: 75px; }
.listingback .row { margin-top: 3px; }
.smaller { font-size: 0.85em; }
.smaller2 { font-size: 0.85em; letter-spacing: 0.15em; }
.listingback p { margin: 0px; padding: 4px; }
.listingback .column { margin-right: 12px; }

h1 { margin: 0px; }

/* grids, rows and columns */

.column{ float: left; padding: 0px; vertical-align: top; overflow: hidden; text-align: left;
 border: 0px solid black; min-width: 100px; /*clear: both;*/ }

 .row{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    /*float: left;*/
/*    padding-left: 8px;
    padding-right: 8px;*/
    padding-top: 0px;
    border: solid black 0px;
    vertical-align: middle;
    clear: both; 
    /*display: block;*/
    display: table;
    width: 100%;
}



.footercontent {
	
	margin-left: auto;
	margin-right: auto;
	/*background-color: #e4E5E8;*/
	/*min-height: 150px;*/
	width: 90%;
display: block;
padding: 1em;
box-sizing: border-box;
/*border: 1px dotted #C0C0C0;*/

position: relative; bottom: 12px; /* margin-bottom doesn't work */
margin-top: 24px;
padding: 1em;
}

.clear { clear: both; }
.w25pc { width: 25%; }
.w75pc { width: 75%; }
.w200px { width: 200px; }
.w80px { width: 80px; }
.nofloat { display: inline-table !important; float: none !important; }

.flex { display: flex !important; }
.sparewidth { flex-grow: 100; }
/* make column fill spare remaining width of container 
		https://stackoverflow.com/a/40447261/337306 */

		.makehigh{ display: table; }
        .makehigh .column { display: table-cell; float: none; }
        /* all columns same height */
        /* https://www.w3schools.com/howto/howto_css_equal_height.asp */

/* _______ */

/* menus */
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
.ddblueblockmenu{
border: 0px solid black;
border-bottom-width: 0;
width: 100%;
margin-top: 0.85em;
/*font-size: 0.8em;*/
}

.ddblueblockmenu ul{
margin: 0;
padding: 0px;
list-style-type: none;
margin-bottom: 1.15em;
}

.ddblueblockmenu li a{
display: block;
padding: 6px 0px;
padding-left: 9px;
/*width: 169px; 185px minus all left/right paddings and margins*/
text-decoration: none;
color: #dcdcdc;
/*background-color: #595959;*/
border-bottom: 0px solid @menubordercolour2;
border-left: 0px solid @menubordercolour1;
}

* html .ddblueblockmenu li a{ /*IE only */
width: 187px; /*IE 5*/
width: 169px; /*185px minus all left/right paddings and margins*/
}

.ddblueblockmenu li a:hover {
background-color: @hoverbackcolour;
color: @hovertextcolour;
border-left-color: @menubordercolour1;
text-decoration: none;
}

.ddblueblockmenu li .active {
background-color: @menubordercolour1;
border-left-color: @menubordercolour1;
cursor: default;
}

/* not used */
.ddblueblockmenu div.menutitle{
color: #dcdcdc  ;
border-bottom: 3px solid @menubordercolour2;
padding: 1px 0;
padding-left: 5px;
/* background-color: #3c3c3c; */ padding-top: 12px;
font: bold 90%;
}

/* ----- forms ----- */
select {
 font-family: @formfieldfonts; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: @formfieldback;
 border: 1px solid @formfieldborder;
}

input, input[type='text'], input[type='password'] {
 font-family: @formfieldfonts; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: @formfieldback;
 border: 1px solid @formfieldborder;
}

button, button[type='submit']{
 font-family: @formfieldfonts; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: @formfieldback;
 border: 1px dashed @formfieldborder;
}


/* main menu */

#navcontainer{
	padding: 22px;
}

ul#navlist
{
margin-left: 0;
padding-left: 0;
white-space: nowrap;
margin: 0px;
}

#navlist li
{
display: inline;
list-style-type: none;
}

#navlist a { padding: 3px 10px; }

#navlist a:link, #navlist a:visited
{
color: @textcolour2;
background-color: @menucolour;
background-image: url('images/@{imagetheme}/menuoptionback.png');
background-size: contain;
text-decoration: none;
/*border: 1px solid @textcolour2;*/
}

#navlist a:hover
{
/*background-color: #3b3b3b;*/ /*color: @textcolour;*/
background-color: @hoverbackcolour; color: @hovertextcolour;
background-image: none;
/*border: 1px solid @textcolour2;*/
text-decoration: none;
}


/* footer menu */

.footercontent .block{
  float:left;
  width: 30%;
  margin:0 0 0 5%;
}
.footercontent .twice-length{ width:65%; }
.footercontent .thrice-length{ width:100%; }
* html .footercontent .block{
  margin:0 0 0 4%;
}
.footercontent .first, * html .footercontent .first{
  clear:both;
  margin:0;
}
.footercontent .block-separator{
  clear:both;
  height:2.5em;
}

.footercontent .block h2, .footercontent .block h3{
  /*margin:0 0 2em 0;*/
  margin: 0px;
  font-weight: unset;
}


ul.footermenu{
  list-style-type:none;
  margin:1.5em 0 2em 0;
  border-top:1px solid @bordercolour;
  padding-left: 0px;
}
ul.footermenu li{
  list-style-type:none;
  margin:0;
  
  padding-left: 0.85em;
  border-bottom:1px solid @bordercolour;
}
ul.footermenu .date{
  color:@formfieldborder;
  padding:0 1.5em 0 0;
}

ul.footermenu .count{
  float:right;
  color:@lighttextcolour;
}

ul.footermenu a{
  color:@textcolour;
  text-decoration:none;
  padding:0.5em 0;
  display: block;
}

ul.footermenu li:hover{
	/*color:#000080;*/
  	background-color: @hoverbackcolour;
}

ul.footermenu a:hover, ul.footermenu a:hover .date{ 
  color:@hovertextcolour;
  text-decoration: none;
}


ul.footermenu ul{
  margin:0;
}
ul.footermenu ul li{
  border:none;
  margin-left:2em;
  list-style-type:square;
}

/* responsive design*/

@media screen and (max-width: 1000px) {
	.container { width: 90%; }
}


/* Main default styling */
input[type="checkbox"].hide, .menutoggle {
  /*  left: -9999px;
    opacity: 0;
    position: absolute 
  */
    display: none;
}

@media screen and (max-width: 850px) {
	.container { width: 100%; /*padding: 12px;*/ box-sizing: border-box; margin: 0px; }
	.menubar .container { padding: 0px; padding-top: 12px; }
	/*.menubar { padding: 12px; }*/
	.menubar { height: auto; padding-top: 0px; min-height: 74px; }


}

@media screen and (max-width: 700px) {

	.column, .row { display: table; clear: both; }
	.w25pc, .w75pc, .footercontent .block { width: 100%; }
	.footercontent .block { float: none; margin: 0px; }
	ul#navlist { display: table; }
	#navlist li {     float: left; margin-bottom: 1.35em; margin-right: 1em;}
	#navcontainer { margin-top: 21px; }
	.contentheader { margin-top: 1.85em; }
	.smaller2 { margin-bottom: 1.15em !important; display: block; }
	.w200px, .w80px { width: auto; }
	.flex { display: inline-block !important; }
	.nofloatonmobile { float: none; display: unset; }
	.w200pxruby { display: ruby; }

/* toggle menu on mobile */
/* https://uglyduck.ca/menu-toggle-css/ */
/* https://stackoverflow.com/q/10782054/337306 */

.menutoggle { display: inline-block; clear: both; }

label {
    border: 1px solid currentColor;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    float: left;
    clear: both;
    margin: 1em;
}

.sidebar, .hidesidebartext {
    /*opacity: 0;
    position: absolute;
    z-index: -2;*/
    display: none;
}

/* Show nav element when checkbox active */
input[type="checkbox"].hide:checked ~ .sidebar,
input[type="checkbox"].hide:checked ~ label .hidesidebartext {
    /*opacity: 1; z-index: 1;*/
    display: block;
}

/* https://stackoverflow.com/a/65331279/337306 */
input[type="checkbox"].hide:checked ~ label .showsidebartext{
	display: none;
}

input[type="checkbox"].hide:checked ~ .menutoggle {
	background-color: @hoverbackcolour;
	color: @selectedtextcover; /* hover colour */
	font-weight: bold;
}

}